@import "tailwindcss";
@theme {
  --color-primary: oklch(58.8% 0.158 241.966);
  --color-secondary: oklch(55.4% 0.046 257.417);
  --color-dark: oklch(20.8% 0.042 265.755);
}
@layer base {
  .font-inter {
    font-family: "Inter", sans-serif;
  }
}
@layer utilities {
  .navbar-fixed {
    @apply fixed z-999 bg-white opacity-70;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  }
  .hamburger-line {
    @apply w-7.5 h-0.5 my-2 block bg-dark;
  }
  .hamburger-active > span:nth-child(1) {
    @apply rotate-45;
  }
  .hamburger-active > span:nth-child(2) {
    @apply scale-0;
  }
  .hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
  }
  .icon-social {
    @apply w-9 h-9 border flex justify-center items-center mr-3 rounded-full lg:text-slate-300 lg:border-slate-300  transition-all;
  }
  .icon-tech {
    @apply w-9 h-9 flex justify-center items-center mr-3;
  }
  .icon-skill {
    @apply w-20 h-20;
  }
  .icon-footer {
    @apply w-9 h-9 border flex justify-center items-center mr-3 rounded-full text-slate-300 border-slate-300 hover:text-white hover:bg-primary  transition-all;
  }
  .underline-project {
    @apply group-hover:underline underline-offset-5 underline lg:no-underline;
  }
}
