@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: oklch(58.8% 0.158 241.966);
  --color-secondary: oklch(55.4% 0.046 257.417);
  --color-dark: oklch(20.8% 0.042 265.755);
}
@layer base {
  .font-inter {
    font-family: "Inter", sans-serif;
  }
}
@layer utilities {
  .navbar-fixed {
    @apply fixed z-999 bg-white opacity-70 backdrop-blur-sm dark:bg-dark dark:opacity-80;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  }
  .hamburger-line {
    @apply bg-dark my-2 block h-0.5 w-7.5 dark:bg-white;
  }
  .hamburger-active > span:nth-child(1) {
    @apply rotate-45;
  }
  .hamburger-active > span:nth-child(2) {
    @apply scale-0;
  }
  .hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
  }
  .icon-social {
    @apply mr-3 flex h-9 w-9 items-center justify-center rounded-full border transition-all lg:border-slate-300 lg:text-slate-300;
  }
  .icon-tech {
    @apply mr-3 flex h-9 w-9 items-center justify-center;
  }
  .icon-skill {
    @apply h-20 w-20;
  }
  .icon-footer {
    @apply hover:bg-primary mr-3 flex h-9 w-9 items-center justify-center rounded-full border border-slate-300 text-slate-300 transition-all hover:text-white;
  }
  .underline-project {
    @apply underline underline-offset-5 group-hover:underline lg:no-underline;
  }
  #dark-toggle:checked ~ label div.toggle-circle {
    @apply translate-x-4;
  }
  #dark-toggle:checked ~ label div.bg-toggle {
    @apply bg-green-500;
  }
}
